

<h1><%= @wiki.title %></h1> 

<%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-sq-sm btn-info' %>
<%= link_to "Delete", [ @wiki], method: :delete, class: 'btn btn-sq-sm btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' } %>
<br>
<br>
<p><%= markdown.render(@wiki.body).html_safe %></p>
